<h1>Blackjack Lite</h1>

<p>Welcome <%= session[:player_name] %>.</p>

Dealer's cards:
<ul>
	<% session[:dealer_cards].each do |card| %>
		<li><%= card.to_s %></li>
	<% end %>
</ul>

Player's cards:
<ul>
	<% session[:player_cards].each do |card| %>
		<li><%= card.to_s %></li>
	<% end %>
</ul>

<p>
The total of your hand is <%= calculate_total(session[:player_cards]) %>. What would you like to do?
</p>

<% if @show_hit_or_stay_buttons %>
	<form action="/game/player/hit" method='post'>
		<input type="submit" class="btn" value="Hit" />
	</form>

	<form action="/game/player/stay" method='post'>
		<input type="submit" class="btn" value="Stay" />
	</form>
<% end %>
