

<h3 class="new_player">Welcome to Blackjack Lite</h3>



<p class="white">Please enter your name below to get started.</p>
<p></p>
<form action='new_player' method='post'>
	<input type="text" name="player_name"/>
	<br/>
	<input type="submit" class="btn"/>
</form>
