

<h3>Welcome to Blackjack Lite</h3>



<p>Please enter your name below to get started.</p>
<p></p>
<form action='user' method='post'>
	<input type='text' name="username"/>
	<input type="Submit" class="btn"/>
</form>
