body{
	background: url(images/Blackjack_board.jpg) no-repeat center center fixed;
	background-size: cover;
	background-repeat:no-repeat;
}

.title{
	color: white;
}

form#hit_form {
	float: left;
	margin-right: 10px;
}

form#hit_stay {
	float: left;
}

img.class_image{
	margin: 0px 5px 5px 0px;

}

.new_player{
	color: white;
}

.white{
	color: white;
}